<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adminstator.myviewdesign">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AnimateLayoutChangesTest.ButtonAddActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".PropertyValuesHolderTest.ViewPropertyAnimatorTest.TestByActivity">
        </activity>
        <activity android:name=".PropertyValuesHolderTest.KeyframeTestActivity"></activity>
        <activity android:name=".PropertyValuesHolderTest.PropertyActivity" />
        <activity android:name=".AnimatorXML.AnimatorXmlActivity" />
        <activity android:name=".PathCartoon.PathDongHuaActivity" />
        <activity android:name=".AnimatorSetTest.ZuheDonghuaActivity" />
        <activity android:name=".OwnExample.ObjectAnimatorFallActivity" />
        <activity android:name=".OwnExample.DropObjectActivity" />
        <activity android:name=".AttrAnimator.ArgbEvaluatorActivity" />
        <activity android:name=".InterpolatorOwn.MyInterpolatorActivity" />
        <activity android:name=".AttrAnimator.ViewAnimationWrongActivity" />
        <activity android:name=".AttrAnimator.AnimatorTestActivity" />
        <activity android:name=".ViewAnimation.DongTaiZhenActivity" />
        <activity android:name=".ViewAnimation.ZhuZhenActivity" />
        <activity android:name=".ViewAnimation.SaoMiaoActivity" />
        <activity android:name=".ViewAnimation.JiazaiKuangActivity" />
        <activity android:name=".ViewAnimation.DonghuaExampleActivity" />
        <activity android:name=".ViewAnimation.MainActivity" />
        <activity android:name=".ViewAnimation.ScaleActivity" />
    </application>

</manifest>