<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adminstator.myviewdesign">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DrawableBitmapTranslate.DrawableBitmapActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EventDispatch.EventDispatchActivity"></activity>
        <activity android:name=".ShortCutsTest.ShortCutsTestActivity">

            <!-- <meta-data -->
            <!-- android:name="android.app.shortcuts" -->
            <!-- android:resource="@xml/shortcuts"/> -->
        </activity>
        <activity android:name=".ListVIewListener.ScrollerListViewConflictActivity" />
        <activity android:name=".ListVIewListener.ListViewScrollListenerActivity" />
        <activity android:name=".CircleBitmapTest.Demo01Activity"></activity>
        <activity android:name=".kongjiangaojishuxing.gesturedetectortest.WindowManagerDemo.WindowDemoActivity" />
        <activity android:name=".kongjiangaojishuxing.gesturedetectortest.GestureDetectorTest.SimpleOnGestureListenerActivity" />
        <activity android:name=".CircleImageViewTest.CircleImageViewTestActivity" />
        <activity android:name=".SweepGradientTest.SweepGradientActivity" />
        <activity android:name=".kongjiangaojishuxing.gesturedetectortest.GestureDetectorTest.GEstureDetectorTestActivity" />
        <activity android:name=".fengzhuangkongjian.FlowLayoutTest.FlowLayoutTestActivity" />
        <activity android:name=".fengzhuangkongjian.ViewHuiZhi.ViewDrawActivity" />
        <activity android:name=".fengzhuangkongjian.KongJianFengZhuangActivity" />
        <activity android:name=".Juzhenyunsuan.SaleMatrixActivity" />
        <activity android:name=".Juzhenyunsuan.MatrixActivity" />
        <activity android:name=".AndroidHuabu.SurfaceViewTestActivity" />
        <activity android:name=".AndroidHuabu.BitmapStaticBuild.zongheshili.shuiyin.ShuiYInActivity" />
        <activity android:name=".AndroidHuabu.BitmapStaticBuild.zongheshili.StrokeImageActivity" />
        <activity android:name=".AndroidHuabu.BitmapStaticBuild.AlphaActivity" />
        <activity android:name=".AndroidHuabu.BitmapStaticBuild.BitmapStaticActivity" />
        <activity android:name=".AndroidHuabu.BitmapSuoFang.BitmapSuoFangActivity" />
        <activity android:name=".AndroidHuabu.DrawableView.DrawableViewActivity" />
        <activity android:name=".AndroidHuabu.ShapeExample.ShapeActivity" />
        <activity android:name=".AndroidHuabu.AndroidHuaBuActivity" />
        <activity android:name=".tuceng.TuCengActivity" />
        <activity android:name=".hunhemoshi.TestActivity" />
        <activity android:name=".huitujinjie.jianbian.JianBianTestActivity" />
        <activity android:name=".huitujinjie.ShaderTest.buguizetouxiang.HeadImageActivity" />
        <activity android:name=".huitujinjie.ShaderTest.WangYuanJing.WangYuanJingActivity" />
        <activity android:name=".huitujinjie.ShaderTest.ShaderTextActivity" />
        <activity android:name=".huitujinjie.yinying.BitmapShadowActivity" />
        <activity android:name=".huitujinjie.faguang.BlurTestActivity" />
        <activity android:name=".huitujinjie.TextShadowTest.TextShadowActivity" />
        <activity android:name=".huitujinjie.BeiJiAiActivity" />
        <activity android:name=".huiturumen.DrawTextTestActivity" />
        <activity android:name=".DongHuaJinJie.SVGExample.SearchVectorActivity" />
        <activity android:name=".DongHuaJinJie.SVGExample.SVG_First_Activity" />
        <activity android:name=".DongHuaJinJie.PathMeasureActivity" />
        <activity android:name=".AnimateLayoutChangesTest.ButtonAddActivity" />
        <activity android:name=".PropertyValuesHolderTest.ViewPropertyAnimatorTest.TestByActivity" />
        <activity android:name=".PropertyValuesHolderTest.KeyframeTestActivity" />
        <activity android:name=".PropertyValuesHolderTest.PropertyActivity" />
        <activity android:name=".AnimatorXML.AnimatorXmlActivity" />
        <activity android:name=".PathCartoon.PathDongHuaActivity" />
        <activity android:name=".AnimatorSetTest.ZuheDonghuaActivity" />
        <activity android:name=".OwnExample.ObjectAnimatorFallActivity" />
        <activity android:name=".OwnExample.DropObjectActivity" />
        <activity android:name=".AttrAnimator.ArgbEvaluatorActivity" />
        <activity android:name=".InterpolatorOwn.MyInterpolatorActivity" />
        <activity android:name=".AttrAnimator.ViewAnimationWrongActivity" />
        <activity android:name=".AttrAnimator.AnimatorTestActivity" />
        <activity android:name=".ViewAnimation.DongTaiZhenActivity" />
        <activity android:name=".ViewAnimation.ZhuZhenActivity" />
        <activity android:name=".ViewAnimation.SaoMiaoActivity" />
        <activity android:name=".ViewAnimation.JiazaiKuangActivity" />
        <activity android:name=".ViewAnimation.DonghuaExampleActivity" />
        <activity android:name=".ViewAnimation.MainActivity" />
        <activity android:name=".ViewAnimation.ScaleActivity" />
    </application>

</manifest>